.css_codigo__label {text-align:;}
.css_codigo__line {text-align:left;}
.css_codigo__obj {text-align:left;}
.css_nombre__label { }
.css_nombre__line { }
.css_nombre__obj { }
.css_presupuesto__label {text-align:;}
.css_presupuesto__line {text-align:left;}
.css_presupuesto__obj {text-align:left;}
