.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_lugar_det_label {text-align: left;vertical-align: middle;}
.css_lugar_det_line {height:0px;text-align: left;}
.css_capacidad_det_label {text-align: left;vertical-align: middle;}
.css_capacidad_det_line {height:0px;text-align: left;}
