.css_precio_det_label {text-align: left;vertical-align: middle;}
.css_precio_det_line {height:0px;text-align: left;}
.css_codigopieza_det_label {text-align: left;vertical-align: middle;}
.css_codigopieza_det_line {height:0px;text-align: left;}
.css_idproveedor_det_label {text-align: left;vertical-align: middle;}
.css_idproveedor_det_line {height:0px;text-align: left;}
