.css_precio_det_label {text-align: right;vertical-align: middle;}
.css_precio_det_line {height:0px;text-align: right;}
.css_codigopieza_det_label {text-align: right;vertical-align: middle;}
.css_codigopieza_det_line {height:0px;text-align: right;}
.css_idproveedor_det_label {text-align: right;vertical-align: middle;}
.css_idproveedor_det_line {height:0px;text-align: right;}
