.css_codigo_label {text-align:;}
.css_codigo_line {text-align:left;}
.css_codigo_obj {text-align:left;}
.css_lugar_label { }
.css_lugar_line { }
.css_lugar_obj { }
.css_capacidad_label {text-align:;}
.css_capacidad_line {text-align:left;}
.css_capacidad_obj {text-align:left;}
