.css_codigo__label {text-align:;}
.css_codigo__line {text-align:left;}
.css_codigo__obj {text-align:left;}
.css_lugar__label { }
.css_lugar__line { }
.css_lugar__obj { }
.css_capacidad__label {text-align:;}
.css_capacidad__line {text-align:left;}
.css_capacidad__obj {text-align:left;}
