.css_numserie_det_label {text-align: left;vertical-align: middle;}
.css_numserie_det_line {height:0px;text-align: left;}
.css_nombre_det_label {text-align: left;vertical-align: middle;}
.css_nombre_det_line {height:0px;text-align: left;}
.css_facultad_det_label {text-align: left;vertical-align: middle;}
.css_facultad_det_line {height:0px;text-align: left;}
