.css_codigo__label {text-align:;}
.css_codigo__line {text-align:left;}
.css_codigo__obj {text-align:left;}
.css_piso__label {text-align:;}
.css_piso__line {text-align:left;}
.css_piso__obj {text-align:left;}
