.css_numreferencia_det_label {text-align: right;vertical-align: middle;}
.css_numreferencia_det_line {height:0px;text-align: right;}
.css_contenido_det_label {text-align: right;vertical-align: middle;}
.css_contenido_det_line {height:0px;text-align: right;}
.css_valor_det_label {text-align: right;vertical-align: middle;}
.css_valor_det_line {height:0px;text-align: right;}
.css_almacen_det_label {text-align: right;vertical-align: middle;}
.css_almacen_det_line {height:0px;text-align: right;}
