.css_numreferencia_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_numreferencia_grid_line {vertical-align: top;text-align: right;}
.css_contenido_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contenido_grid_line {vertical-align: top;text-align: right;}
.css_valor_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line {vertical-align: top;text-align: right;}
.css_almacen_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_almacen_grid_line {vertical-align: top;text-align: right;}
