.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_piso_det_label {text-align: left;vertical-align: middle;}
.css_piso_det_line {height:0px;text-align: left;}
