.css_num_venta_det_label {text-align: left;vertical-align: middle;}
.css_num_venta_det_line {height:0px;text-align: left;}
.css_maquina_det_label {text-align: left;vertical-align: middle;}
.css_maquina_det_line {height:0px;text-align: left;}
.css_producto_det_label {text-align: left;vertical-align: middle;}
.css_producto_det_line {height:0px;text-align: left;}
.css_cajero_det_label {text-align: left;vertical-align: middle;}
.css_cajero_det_line {height:0px;text-align: left;}
