.css_num_venta__label {text-align:;}
.css_num_venta__line {text-align:left;}
.css_num_venta__obj {text-align:left;}
.css_maquina__label {text-align:;}
.css_maquina__line {text-align:left;}
.css_maquina__obj {text-align:left;}
.css_producto__label {text-align:;}
.css_producto__line {text-align:left;}
.css_producto__obj {text-align:left;}
.css_cajero__label {text-align:;}
.css_cajero__line {text-align:left;}
.css_cajero__obj {text-align:left;}
