.css_cientifico_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cientifico_grid_line {vertical-align: top;text-align: left;}
.css_proyecto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_proyecto_grid_line {vertical-align: top;text-align: left;}
