.css_cientifico_det_label {text-align: left;vertical-align: middle;}
.css_cientifico_det_line {height:0px;text-align: left;}
.css_proyecto_det_label {text-align: left;vertical-align: middle;}
.css_proyecto_det_line {height:0px;text-align: left;}
