.css_cientifico_det_label {text-align: right;vertical-align: middle;}
.css_cientifico_det_line {height:0px;text-align: right;}
.css_proyecto_det_label {text-align: right;vertical-align: middle;}
.css_proyecto_det_line {height:0px;text-align: right;}
