.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_dni_det_label {text-align: left;vertical-align: middle;}
.css_dni_det_line {height:0px;text-align: left;}
.css_numserie_det_label {text-align: left;vertical-align: middle;}
.css_numserie_det_line {height:0px;text-align: left;}
.css_comienzo_det_label {text-align: left;vertical-align: middle;}
.css_comienzo_det_line {height:0px;text-align: left;}
.css_fin_det_label {text-align: left;vertical-align: middle;}
.css_fin_det_line {height:0px;text-align: left;}
