.css_precio__label {text-align:;}
.css_precio__line {text-align:left;}
.css_precio__obj {text-align:left;}
.css_codigopieza__label {text-align:;}
.css_codigopieza__line {text-align:left;}
.css_codigopieza__obj {text-align:left;}
.css_idproveedor__label { }
.css_idproveedor__line { }
.css_idproveedor__obj { }
