.css_numreferencia__label { }
.css_numreferencia__line { }
.css_numreferencia__obj { }
.css_contenido__label { }
.css_contenido__line { }
.css_contenido__obj { }
.css_valor__label {text-align:;}
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_almacen__label {text-align:;}
.css_almacen__line {text-align:left;}
.css_almacen__obj {text-align:left;}
