.css_dni_det_label {text-align: right;vertical-align: middle;}
.css_dni_det_line {height:0px;text-align: right;}
.css_nomapls_det_label {text-align: right;vertical-align: middle;}
.css_nomapls_det_line {height:0px;text-align: right;}
