.css_dni_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dni_grid_line {vertical-align: top;text-align: left;}
.css_nomapls_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomapls_grid_line {vertical-align: top;text-align: left;}
