.css_dni_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_dni_grid_line {vertical-align: top;text-align: left;}
.css_nomapels_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nomapels_grid_line {vertical-align: top;text-align: left;}
.css_facultad_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_facultad_grid_line {vertical-align: top;text-align: right;}
