.css_dni_det_label {text-align: right;vertical-align: middle;}
.css_dni_det_line {height:0px;text-align: right;}
.css_nomapels_det_label {text-align: right;vertical-align: middle;}
.css_nomapels_det_line {height:0px;text-align: right;}
.css_facultad_det_label {text-align: right;vertical-align: middle;}
.css_facultad_det_line {height:0px;text-align: right;}
